<div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="space-around center" fxShow="true" fxHide="false">
  <mat-card style="width:400px;">
    <mat-card-content>
      <form [formGroup]="loginForm">
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="space-around center" fxShow="true" fxHide="false">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
            <h2>Telus Login</h2>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
            <mat-form-field class="field-width">
              <input matInput placeholder="Username" formControlName="username" value type="text">
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
            <mat-form-field class="field-width">
              <input matInput placeholder="Password" formControlName="password" value type="password">
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
            <mat-form-field class="field-width">
              <mat-label>Project</mat-label>
              <mat-select formControlName="project">
                <mat-option *ngFor="let p of projectList" [value]="p.code">
                  {{p.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><button mat-raised-button style="font-weight:bold;" color="primary" (click)="login()">LOGIN</button></div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>