<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"></div>
    <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-icon (click)="enableUpdate = !enableUpdate">edit</mat-icon>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <mat-form-field class="field-width">
      <input matInput placeholder="Name" [readonly]="enableUpdate" [(value)]="name" type="text">
    </mat-form-field>
    <p>{{enableUpdate}}</p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <mat-form-field class="field-width">
      <input matInput placeholder="Description" [readonly]="true" [(value)]="description" type="text">
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"></div>
</div>