/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$muli-font : 'Muli', sans-serif;

body{
    background: #8ea4ab;
    font-family: $muli-font;
}
h2{
    font-family: $muli-font;
}


bh-login{
    height: 100% !important;
}
.mat-raised-button ,.mat-form-field-label-wrapper ,.mat-option-text,.mat-select-value,.mat-header-cell,
.mat-cell,.mat-paginator
{
    font-family: $muli-font !important;
}
.field-width{
    width: 240px !important;
}
.grid-tile{
    height: 126px;
    width: 300px;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
}
.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}
  
.element-row:not(.expanded):hover {
    background: #f5f5f5;
}
  
.element-row.expanded {
    border-bottom-color: transparent;
}