<div fxLayout="column wrap" style="height: 100%;" fxLayoutAlign="center center" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" style="background: white;" fxFlex="38" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" class="grid-tile" fxLayoutAlign="center center" fxShow="true" fxHide="false"><span>View Telus Questions</span></div>
      <div fxLayout="column wrap" class="grid-tile" fxLayoutAlign="center center" fxShow="true" fxHide="false"><span>Load Questions</span></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" class="grid-tile" fxLayoutAlign="center center" fxShow="true" fxHide="false"><span>View Reports</span></div>
      <div fxLayout="column wrap" class="grid-tile" fxLayoutAlign="center center" fxShow="true" fxHide="false"><span>Unanswered Questions</span></div>
    </div>
  </div>
</div>